@model Department

<h1>@ViewData["Title"]</h1>
<form asp-action="Create" asp-controller="Department" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-lable">Department NO. </label>
        <input type="text" class="form-control" asp-for="Id"/>
    </div>
    <div class="mb-3">
        <label asp-for="DName" class="form-lable">Department Name </label>
        <input type="text" class="form-control" asp-for="DName" />
    </div>
    <div class="mb-3">
        <label asp-for="Country" class="form-lable">Country </label>
        <select onchange="getstate()" class="form-select" asp-for="Country" asp-items="@(new SelectList(ViewBag.Countries, "Id", "CName"))">
        </select>
    </div>
    <div class="mb-3">
        <lable for="state" class="form-lable">State</lable>
        <select class="form-select" id="state" name="state">
            <option>Choose</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Loc" class="form-lable">Location </label>
        <select class="form-select" asp-for="Loc" asp-items="Html.GetEnumSelectList<location>()">
            @*<option value="0">None</option>
            <option value="CHD">Chandigher</option>
            <option value="PKL">Panchkula</option>
            <option value="MHL">Mohali</option> csa*@
        </select>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
@section Scripts{
    <script src="~/js/project.js"></script>
}


